<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       	http://www.springframework.org/schema/cache
       	http://www.springframework.org/schema/cache/spring-cache.xsd  ">

	<!-- redis连接池的配置 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${mvn.redis.pool.maxTotal}" />
		<property name="maxIdle" value="${mvn.redis.pool.maxIdle}" />
		<property name="minIdle" value="${mvn.redis.pool.minIdle}" />
		<property name="maxWaitMillis" value="${mvn.redis.pool.maxWaitMillis}" />
		<property name="testOnBorrow" value="${mvn.redis.pool.testOnBorrow}" />
		<property name="testOnReturn" value="${mvn.redis.pool.testOnReturn}" />
	</bean>

	<!-- redis的连接池pool，不是必选项：timeout/password -->
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1" value="${mvn.redis.host}" />
		<constructor-arg index="2" value="${mvn.redis.port}" type="int" />
		<constructor-arg index="3" value="${mvn.redis.timeout}"
			type="int" />
		<constructor-arg index="4" value="${mvn.redis.password}" />
	</bean>
</beans>