<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/data/jpa
     http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
     http://www.springframework.org/schema/data/repository
     http://www.springframework.org/schema/data/repository/spring-repository.xsd
     http://www.springframework.org/schema/data/mongo  
     http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<mongo:mongo id="mongo" host="${mvn.mongo.host}" port="${mvn.mongo.port}">
		<mongo:options connections-per-host="${mvn.mongo.connectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mvn.mongo.threadsAllowedToBlockForConnectionMultiplier}"
			connect-timeout="${mvn.mongo.connectTimeout}" max-wait-time="${mvn.mongo.maxWaitTime}"
			auto-connect-retry="${mvn.mongo.autoConnectRetry}" slave-ok="${mvn.mongo.slaveOk}"
			write-number="1" write-timeout="0" write-fsync="true" />
	</mongo:mongo>
	
	<mongo:db-factory dbname="${mvn.mongo.dbname}" mongo-ref="mongo" />
		
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/> 
	</bean>
	
	<mongo:mapping-converter base-package="com.mrwind.order.entity" />  
	<mongo:repositories base-package="com.mrwind.order.repositories" />
</beans>