<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:repository="http://www.springframework.org/schema/data/repository"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/data/jpa
     http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
     http://www.springframework.org/schema/data/repository
     http://www.springframework.org/schema/data/repository/spring-repository.xsd
     http://www.springframework.org/schema/data/mongo  
     http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

	<mongo:mongo id="mongo" host="${mvn.mongo.host}" port="${mvn.mongo.port}">
		<mongo:options connections-per-host="${mvn.mongo.connectionsPerHost}"
			threads-allowed-to-block-for-connection-multiplier="${mvn.mongo.threadsAllowedToBlockForConnectionMultiplier}"
			connect-timeout="${mvn.mongo.connectTimeout}" max-wait-time="${mvn.mongo.maxWaitTime}"
			auto-connect-retry="${mvn.mongo.autoConnectRetry}" slave-ok="${mvn.mongo.slaveOk}"
			write-number="1" write-timeout="0" write-fsync="true" />
	</mongo:mongo>

	<mongo:db-factory dbname="${mvn.mongo.dbname}"
		mongo-ref="mongo" />

	<bean id="mappingContext"
		class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />

	<bean id="defaultMongoTypeMapper"
		class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">
		<constructor-arg name="typeKey">
			<null />
		</constructor-arg>
	</bean>

	<bean id="mappingMongoConverter"
		class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mappingContext" ref="mappingContext" />
		<property name="typeMapper" ref="defaultMongoTypeMapper" />
	</bean>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
		<constructor-arg name="mongoConverter" ref="mappingMongoConverter" />
	</bean>

	<mongo:mapping-converter base-package="com.mrwind.*.entity" />
	<mongo:repositories base-package="com.mrwind.*.repositories" />
</beans>